################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FTP_server/FileContentIndex
/.vs/FTP_server/v17
/.vs
